<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<app-parent></app-parent>


<!--
<button (click)="incrementCtr()">Increment Parent</button>
<table>
<tr>
<td>
<app-ctr [ctrApp]="appCtr"></app-ctr>
</td>
<td>
<app-signal-ctr  [parentCtr]="appCtrSignal()"></app-signal-ctr>
</td>
</tr>
</table>
-->